.sidebar {
  height: 90%;
  min-height: 90%;
  position: fixed;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    span {
      font-weight: 500;
      font-size: 21px;
      padding: 20px;
    }

    margin-bottom: 20px;
  }

  .menu {
    border-left: 1px solid #ccc8c8;

    ul {
      li {
        ul {
          margin-left: -30px;
        }

        span {
          font-size: 17px;
          color: black;
          cursor: pointer;

          &:hover {
            color: #000000b3;
          }
        }

        a {
          font-size: 17px;
          color: black;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: #000000b3;
          }
        }
      }
    }
  }
}

.active {
  border-right: 2px solid #175ede !important;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    padding: 20px;
    height: 100%;

    .menu {
      ul {
        margin-left: 5px;

        li {
          line-height: 2;

          ul {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .sidebar {
    scrollbar-width: none
  }
}
