.sidebar {
  height: 90%;
  min-height: 90%;
  position: fixed;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    span {
      font-weight: 500;
      font-size: 21px;
      padding: 20px;
    }

    margin-bottom: 20px;
  }

  .menu {
    border-left: 1px solid #ccc8c8;

    ul {
      li {
        span {
          font-size: 17px;
          color: black;
          cursor: pointer;

          &:hover {
            color: #000000b3;
          }
        }

        a {
          font-size: 17px;
          color: black;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: #000000b3;
          }
        }
      }
    }
  }
}

.active {
  border-right: 2px solid #175ede !important;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    position: unset;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 20px;

    .menu {
      ul {
        margin-left: 30px
      }
    }
  }
}
